body {
    background-color: 
    #f1eeee;
}



header {    
    color:black;
    font-weight:bold;
    font-size: 19px;
    font-family:Arial;
}

h2 {
    font-family:Arial;
    font-size:14px;
    color:black;
}

article {
    font-family:Arial;
    font-size:13px;
    color:black;
}

p {
    font-family:Arial;
    font-size:15px;
    color:black;
}



table.jobs_table { 
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

