body {
    background-color: 
    #cccccc;
}
h1 {    
    color:tomato;
    font-size: 17px;
    font-family:Arial;
}

h2 {
    font-family:Arial;
    font-size:14px;
    color:black;
}

h3 {
    font-family:Arial;
    font-size:13px;
    color:black;
}

p {
    font-family:Arial;
    font-weight:bold;
    font-size:15px;
    color:black;
}

form {
    display: flex;
    flex-direction: column;
}
  
span {
    margin-bottom: 20px;
}

.jobs_table { 
    border: 2px solid black;
}



